<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServiceCompetition</display-name>
  <welcome-file-list>
      <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
      <servlet-name>InquireSingleAction</servlet-name>
      <servlet-class>servlet.InquireSingleAction</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InquireSingleAction</servlet-name>
      <url-pattern>/InquireSingleAction</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>InquireBatchAction</servlet-name>
      <servlet-class>servlet.InquireBatchAction</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InquireBatchAction</servlet-name>
      <url-pattern>/InquireBatchAction</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>InquireBreakPromise</servlet-name>
      <servlet-class>servlet.InquireBreakPromise</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InquireBreakPromise</servlet-name>
      <url-pattern>/InquireBreakPromise</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>InquireGreatEnt</servlet-name>
      <servlet-class>servlet.InquireGreatEnt</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InquireGreatEnt</servlet-name>
      <url-pattern>/InquireGreatEnt</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetCategoryEnt</servlet-name>
      <servlet-class>servlet.GetCategoryEnt</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetCategoryEnt</servlet-name>
      <url-pattern>/GetCategoryEnt</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>InquireAction</servlet-name>
      <servlet-class>servlet.InquireAction</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>InquireAction</servlet-name>
      <url-pattern>/InquireAction</url-pattern>
  </servlet-mapping>
</web-app>